.navbar.navbar-sm {
  $height: $navbar-height / 2;

  min-height: $height;

  > .container .navbar-brand {
    height: $height;
    padding-top: ($height - $font-size-base) / 2;
    padding-bottom: ($height - $font-size-base) / 2;

    font-size: $font-size-base;
    line-height: $font-size-base;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
  }
}

.navbar-spaced {
  margin-bottom: $font-size-base;

  @media (max-width: ($grid-float-breakpoint - 1)) {
    .navbar-brand {
      display: block;
      height: auto;
      padding-left: 0;
      padding-bottom: 0;
      float: none;
    }
  }
}

.navbar-brand.navbar-breadcrumb {
  &:before {
    content: "»";
    display: inline-block;
    padding-right: $navbar-padding-horizontal;
  }
}

.navbar-inverse {
  .btn.btn-default {
    @include button-variant($navbar-inverse-btn-color, $navbar-inverse-btn-bg, $navbar-inverse-btn-bg);
  }

  .navbar-form {
    margin-top: $padding-large-vertical;
    border-color: transparent;
    box-shadow: none;
  }

  .navbar-col:first-child {
    padding-left: 0;
  }
}
