@mixin horizontal-arrow {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 1.56em;
  height: 1.56em;
  background-color: inherit;
  background-image: none;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  transition: none;
}

@mixin search-term-btn {
  @extend .btn;

  border: 1px solid;
  font-size: 100%;
  font-weight: normal;
  cursor: move;
}

.advanced-search-terms {
  .spacer {
    display: inline-block;
    padding-left: $padding-base-horizontal;
  }
}

.advanced-search {
  .advanced-search-query.editable {
    @extend .well;
    height: $input-height-large;
    margin-bottom: 0;
    padding: $padding-small-vertical $padding-small-horizontal;
    background: $input-bg;

    &.highlight {
      border-color: $brand-primary;
    }

    .search-term-operator.not {
      margin-right: $padding-xs-horizontal;
    }

    .search-term-operator.and, .search-term-operator.or {
      margin-left: $padding-base-horizontal * 2;
      margin-right: $padding-base-horizontal * 2;
    }

    .input-group {
      display: inline-table;
      vertical-align: middle;

      .input-group-addon,
      .input-group-btn,
      .form-control {
        display: table-cell;
        width: auto;
      }

      .input-group-addon {
        margin-right: -2px;
        background: $input-bg;
        color: $text-muted;
        cursor: move;
      }

      .input-group-addon + .form-control {
        @include form-control-focus;
        border-left: none;
        box-shadow: none;
      }
    }
  }

  .search-term {
    z-index: $zindex-navbar - 1;
  }

  .search-term-operator {
    @include search-term-btn;

    position: relative;
    padding-right: $padding-large-horizontal;
    margin-right: $padding-large-horizontal;

    text-transform: uppercase;

    &:after {
      @include horizontal-arrow;
      right: 0%;
    }
  }

  .search-term-operator.and, .search-term-operator.or {
    padding-left: $padding-large-horizontal;
    margin-left: $padding-large-horizontal;

    &:before {
      @include horizontal-arrow;
      right: 100%;
    }
  }

  .search-term-operator.and {
    @include button-variant(white, $label-warning-bg, $label-warning-bg);
  }

  .search-term-operator.or {
    @include button-variant(white, $label-info-bg, $label-info-bg);
  }

  .search-term-operator.not {
    @include button-variant(white, $label-default-bg, $label-default-bg);
  }

  .search-term-text {
    @include search-term-btn;
    @include button-variant($text-color, white, $input-border);
  }
}

.search-query-viewer {
  .search-term {
    display: inline-block;

    // Match default button height
    padding: $padding-base-vertical $padding-xs-horizontal $padding-base-vertical 0;
    border: 1px solid transparent;
  }

  .search-term-operator {
    text-transform: uppercase;
  }

  .search-term-operator.and {
    color: $brand-warning;
  }

  .search-term-operator.or {
    color: $brand-info;
  }

  .search-term-operator.not {
    color: $gray-light;
  }

  .search-term-text {
    &:before { content: "“" }
    &:after { content: "”" }
  }
}
