.search-container {
  &.edit-query, &.search-within {
    @extend .well;

    margin-top: -1px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: $btn-default-border;
    box-shadow: none;
  }
}

.simple-search-query {
  padding: $padding-base-vertical $padding-base-horizontal;
}

.query-separator {
  text-align: center;
  padding-top: $padding-base-vertical;
}

#search_results {
  padding-top: $padding-large-vertical;
}
