.tei-front {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: $padding-large-vertical;
}

.tei-bold {
  font-weight: bold;
}

.tei-italic {
  font-weight: italic;
}

.tei-underline {
  border-bottom: 1px solid $text-color;
}

.tei-doubleunderline {
  border-bottom: 1px double $text-color;
}

.tei-strikethrough {
  text-decoration: line-through;
}

.tei-smallcaps {
  font-variant-caps: small-caps;
}

.tei-center {
  text-align: center;
}

.tei-justify {
  text-align: justify;
}

.tei-frame {
  border: 1px solid $table-border-color;
}
