<a href="<%= document_path(search_result.basename) %>" class="list-group-item">
  <h4 class="list-group-item-heading"><%= search_result.title %></h4>
  <p class="list-group-item-text">
    <span class="text-muted"><%= search_result.published_date %></span>
    <%= search_result.author %>
  </p>
</a>
