<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <% @browse_path.each do |folder| %>
        <li>
          <a href="<%= browse_documents_path(folder.path) %>"><%= folder.name %></a>
        </li>
      <% end %>
    </ol>

    <% if @results.size > 0 %>
      <div id="search_results" class="list-group">
        <%= render partial: "document_in_list", collection: @results %>
      </div>
    <% else %>
      <p class="search-results">There's nothing in this folder.</p>
    <% end %>
  </div>
</div>
