<div class="row">
  <div class="col-md-12">
    <h1>Potentially incomplete documents</h1>

    <% if @incomplete_documents.size > 0 %>
      <div class="list-group">
        <%= render partial: "document_in_list", collection: @incomplete_documents %>
      </div>
    <% else %>
      <p class="search-results">None found.</p>
    <% end %>
  </div>
</div>
