<div class="row">
  <div class="col-md-12">
    <%= render partial: "documents/search_form/editor", locals: { query: nil, previous_queries: [], class_name: "" } %>

    <p class="start-browsing">
      or <a href="<%= browse_root_documents_path %>">browse our collection ...</a>
    </p>
  </div>
</div>
