<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1 col-md-push-11">
        <%= link_to documents_path(query_type: params[:query_type]), class: "btn btn-link btn-lg",
              "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Return to the search page for more options" do %>
          <span class="glyphicon glyphicon-cog"></span>
          <span class="sr-only">Return to the search page for more options</span>
        <% end %>
      </div>

      <div class="col-md-11 col-md-pull-1">
        <% if searching_advanced? %>
          <%= render partial: "advanced_search", locals: { query: params[:query], hidden: false, editing: false } %>
        <% else %>
          <%= render partial: "simple_search", locals: { query: params[:query], hidden: false } %>
        <% end %>
      </div>
    </div>

    <div id="search_results" class="list-group">
      <%= render partial: "search_result", collection: @results %>
    </div>

    <p class="text-center load-more-results">
      <button type="button" class="btn btn-default">Load more</button>
      <span class="spinner glyphicon glyphicon-option-horizontal hidden"></span>
    </p>
  </div>
</div>
