<div class="row">
  <div class="col-md-12">
    <% if @queries.length > 1 %>
      <%= render partial: "advanced_search", locals: { query: @queries, hidden: false, editing: false } %>
    <% else %>
      <%= render partial: "simple_search", locals: { query: @queries.first["value"], hidden: false, editing: false } %>
    <% end %>

    <div id="search_results" class="list-group">
      <%= render partial: "search_result", collection: @results %>
    </div>

    <p class="text-center load-more-results">
      <button type="button" class="btn btn-default">Load more</button>
      <span class="spinner glyphicon glyphicon-option-horizontal hidden"></span>
    </p>
  </div>
</div>
