<div class="input-group">
  <%= render partial: "documents/search_form/viewer", locals: { query: query } %>

  <span class="input-group-btn">
    <%= button_tag type: "button", class: "btn btn-default btn-lg delete-section" do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      <span class="sr-only">Remove this query</span>
    <% end %>
  </span>
</div>
