@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "scaffolding/navbar";

@import "documents/tei";
@import "documents/search_container";
@import "documents/advanced_search";
@import "documents/document_viewer";

// Bootstrap overrides

.popover {
  max-width: 650px;
}

.btn-minimal {
  @extend .btn-default;

  color: $text-muted;
  border-color: transparent;
}

.breadcrumb {
  margin-bottom: 0;
}

.list-group-item-heading:only-child {
  margin-bottom: 0;
}

.tab-content.spaced {
  margin-top: $padding-large-vertical;
}
