@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "scaffolding/navbar";

@import "documents/tei";
@import "documents/search_container";
@import "documents/advanced_search";
@import "documents/document_viewer";

// Bootstrap overrides

.popover {
  max-width: 650px;
}

.btn-minimal {
  @extend .btn-default;

  color: $text-muted;
  border-color: transparent;
}
